<ul class="tabs clearfix">
        <li><a href="{{ site.baseurl }}/sequence-one/index.html" {% if page.activity == "one" %}class="current"{% endif %}>1</a></li>
        <li><a href="{{ site.baseurl }}/sequence-one/activity2.html" {% if page.activity == "two" %}class="current"{% endif %}>2</a></li>
        <li><a href="{{ site.baseurl }}/sequence-one/activity3.html" {% if page.activity == "three" %}class="current"{% endif %}>3</a></li>
        <li><a href="{{ site.baseurl }}/sequence-one/activity4.html" {% if page.activity == "four" %}class="current"{% endif %}>4</a></li>
        <li><a href="{{ site.baseurl }}/sequence-one/activity5.html" {% if page.activity == "five" %}class="current"{% endif %}>5</a></li>
        <li><a href="{{ site.baseurl }}/sequence-one/activity6.html" {% if page.activity == "six" %}class="current"{% endif %}>6</a></li>
        <li><a href="{{ site.baseurl }}/sequence-one/activity7.html" {% if page.activity == "seven" %}class="current"{% endif %}>7</a></li>
    </ul>