    <div class="highlight">
        <section class="content">
            <h2>Contributors</h2>
            <p>Thanks to the following for contributing to the development of these sequences:</p>
            <ul class="four contributors clearfix">
                <li class="detailed">
                    <figure>
                        <img src="{{ site.baseurl }}/img/olivia-woodburne.jpg" alt=""><figcaption><span>Dr Olivia Woodburne</span> MTeach student at Deakin University (Pre-Service Teacher Contributor and Collator)</figcaption>
                    </figure>
                    <div class="details">
                        <p>Dr Olivia has a PhD in social anthropology which took her to work among the BaAka hunter-gatherers of the Congo basin rainforest. She now lives in north-east Victoria with her family, and hopes to begin her teaching career in 2018.</p>
                    </div>
                </li>
                <li class="detailed">
                    <figure>
                        <img src="{{ site.baseurl }}/img/nicola-munro.jpg" alt=""><figcaption><span>Dr Nicola Munro</span></figcaption>
                    </figure>
                    <div class="details">
                        <p>Dr Nicola Munro spent four years at Roxby Downs, outback South Australia, helping to establish the Arid Recovery reserve.  She built feral-animal-proof fences and got rid of rabbits, cats and foxes from inside the reserve and was involved with reintroduction programs for locally extinct mammals such as bilbies and bettongs.  She also monitored the changes in vegetation when you return the original suit of animals.  Nicola then completed a PhD in restoration ecology, looking at the capacity of revegetation in agricultural landscapes to provide habitat.  She recently researched the digging behaviour of bettongs in grassy woodlands near Canberra, to see if they have the potential to change entire vegetation communities.</p>
                    </div>
                </li>
                <li><img src="{{ site.baseurl }}/img/peta-white.jpg" alt="Dr. Peta White"><span><a class="new-tab-warning" href="http://www.deakin.edu.au/profiles/peta-white" target="_blank">Dr. Peta White</a></span> Lecturer in Science and Environmental Education at Deakin University (Education Academic and Project Coordinator)</li>
            </ul>
        </section>
    </div>
    <div class="overlay">
        <div class="overlay-child">
            
        </div>
    </div>